.header {
    display: flex;
    justify-content: space-between;
    margin: 15px 100px;
    border-bottom: .1px solid gray;
}

.logo, .input {
    border: 1px red solid;
}

.logo {
    
    font-size: 6rem;
}

.input {
    width: 50%;

}

input {
    justify-content: left;
}


